# 📦 Composer
/vendor

# ⚙️ Laravel runtime
/.phpunit.cache
/.phpunit.result.cache
.env
.env.backup
.env.production
*.sqlite
auth.json
storage/*.key
storage/*.log
storage/app/public
storage/framework/*
storage/logs/*
storage/pail

# 📁 Public (builds, storage, vite-hot)
public/build/
public/hot
public/storage

# 🧪 Homestead / Testing / Debugging
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# 🛠️ IDE / Editor / Tool configs
.phpactor.json
.fleet/
.idea/
.nova/
.vscode/
.zed/

# 🧩 Node / Vite
node_modules/
resources/js/**/*.js
resources/css/**/*.css

# 🐳 Docker
docker-compose.override.yml
docker-compose.yml.backup
*.env.docker
.docker/
docker/